* {
    color: whitesmoke;
    font-family: 'Helvetica Neue';
}

body {
    background-color: slategray;
}

heading {
    text-align: center;
}

.name {
    text-align: center;
    margin: 1em 0 1.5em 0;
}

.weather {
    margin-bottom: 2.5em;
    text-align: center;
}

.weather .icon {
    text-align: center;
}

.weather .wi {
    color: whitesmoke;;
    font-size: 6rem;
    margin-bottom: 2rem;
}

.weather .description {
    text-align: center;
}

.detail {
    text-align: center;
    margin-bottom: 2.5em;
}

.detail .temp {
    font-size: 3.85em;
    margin: 0.85em;
}

.forecastTitle {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
}

.forecast {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.forecast > span {
    display: inline-block;
    width: 3.5em;
}

.forecast > span > span {
    display: block;
    font-size: 0.8em;
    text-align: center;
}

.forecast .wi {
    font-size: 1.1rem;
    padding: 0.5rem;
}
